:root {
  --green-100: hsl(228, 12%, 48%);
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(212, 21%, 14%);
  
  --cream-500: hsl(30, 38%, 92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream-500);
}

body * {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

#card {
  display: flex;
  flex-direction: column;
  background-color: white;

  max-width: 500px;
  margin: 64px auto;
  border-radius: 8px;
}

#card .content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
}

.hero img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.category {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--green-100);
}

.name {
  font-family: "Fraunces", sans-serif;
  font-size: 2.4rem;
  color: var(--green-700);
}

.description {
  font-size: 0.8rem;
  color: var(--green-100);
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.price .new {
  font-family: "Fraunces", sans-serif;
  font-size: 2.4rem;
  color: var(--green-500);
}

.price .old {
  font-size: 0.8rem;
  color: var(--green-100);
  text-decoration: line-through;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 0.8rem;
  color: white;

  border: none;
  border-radius: 8px;
  background-color: var(--green-500);
  
  padding: 16px;
  cursor: pointer;
  transition: background-color .2s;
}

button:hover {
  background-color: hsl(158, 36%, 17%);
}

.attribution {
  text-align: center;
  font-size: 1rem;
  margin: 32px;
}

.attribution a {
  font-size: 1rem;
  color: var(--green-500);
  text-decoration: none;
}

a:hover {
  color: hsl(158, 36%, 17%);
}

@media (max-width: 532px) {
  #card {
    margin-inline: 16px;
  }
}

@media (min-width: 768px) {
  #card {
    display: flex;
    flex-direction: row;
    max-width: 620px;
    margin: 64px auto;
  }

  .container {
    display: flex;
  }

  #card .content {
    justify-content: center;
  }

  .hero img {
    content: url(./images/image-product-desktop.jpg);
    width: 300px;
    height: 100%;
    flex: 2;
    border-radius: 8px 0 0 8px;
  }
}